@media only screen and (max-width: 600px){
    .hero-banner-main{
        display: flex !important;
        flex-direction: column !important;
    }

    .hero-img{
        width: 80% !important;
    }

    .list{
        padding-right: 5px;
    }

    .hero-circle-img {
        position: absolute;
        left: 60%;
        top: -5%;
    }

    .hb-left {
        align-items: center;
    }

    .left-title {
        font-size: 30px;
        line-height: 38px;
    }

    .sub-text {
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
    }

    .subtitle-img {
        margin-right: 5px;
        width: 72px;
    }

    .left-text {
        margin-top: 5px;
        text-align: center;
    }

    .left-title {
        margin-bottom: 0 !important;
    }

    .hb-right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-box-text {
        padding: 0;
        }

    .box-text {
    margin-bottom: 0;
   }    
}

/**accordion style**/
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
    }
    .accordion {
        width: 80% !important;
        margin: 0 auto !important;
    }
    .accordion_heading {
        justify-content: flex-start !important;
        gap: 10px !important;
    } 
    .accordion_image_container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .left_part{
        margin-left: auto;
        margin-right: auto;
    }
    .common_heading {
        font-size: 30px;
        line-height: 35px;
      }
    .common_text {
        font-size: 15px;
        margin-top: 10px;
        padding: 0 30px;
   }

   .accordion_image_container{
    margin-top: 30px;
   }

   .accordion li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 8px;
   }

   .accordion_title {
    padding: 26px 0 24px;
    color: #000;
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
  }
  .accordion input[type="radio"]:checked + label + .content {
    max-height: 260px;
    padding: 0;
    color: #000;
    font-weight: 400;
    letter-spacing: .3px;
    font-size: 16px;
    line-height: 24px;
  }
}

/**icon list section style**/

@media only screen and (max-width: 600px){
    .icon_list {
        width: 100%;
        display: grid;
        justify-content: center;
        list-style: none;
        grid-template-columns: 1fr 1fr;
    }
     
    .icon {
        text-align: center;
        display: flex;
        margin-top: 25px;
        text-align: center;
        padding-left: 30px;
        align-items: center;
        justify-content: center;
    }

    .icon_img {
        display: block;
        max-width: 100% !important;
        width: 38px !important;
        margin-top: -20px !important;
        object-fit: contain !important;
        margin: auto 0 !important;
    }
    
    .icon_text {
        margin-top: 10px;
        font-size: 15px;
        line-height: 18px;
        color: #000;
        font-weight: 400;
        text-align: left;
        margin-left: 5px;
    }

    .icon_list_section {
        padding: 0;
    }
}


/**icon list section style**/

/**expert section**/
@media only screen and (max-width: 600px){
    .experts_section {
        display: grid;
        justify-content: center;
        margin: 40px 5px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
/**expert section**/